In [1]:
import pandas as pd
import json

In [2]:
# Загрузка JSON файла в датафрейм
try:
    with open('../ex02/auto.json', 'r', encoding='utf-8') as f:
        data = json.load(f)
except FileNotFoundError as e:
    print("File not found")
    raise e
df = pd.DataFrame(data)
print(f"Датафрейм загружен. Размер: {df.shape}")

Датафрейм загружен. Размер: (725, 5)

In [3]:
#Установка CarNumber как индексного столбца
df.set_index('CarNumber', inplace=True)
print(f"Размер после установки индекса: {df.shape}")
print(df.info())

Размер после установки индекса: (725, 4)
<class 'pandas.core.frame.DataFrame'>
Index: 725 entries, Y163O8161RUS to H419XE197RUS
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  725 non-null    float64
 1   Fines   725 non-null    float64
 2   Make    725 non-null    object
 3   Model   725 non-null    object
dtypes: float64(2), object(2)
memory usage: 28.3+ KB
None

In [4]:
print("СЕЛЕКТЫ")

print("\nСтроки где штрафы больше 2,100:")
select_1 = df[df['Fines'] > 2100]
print(f"Количество строк: {len(select_1)}\n")
print(select_1.head())

СЕЛЕКТЫ

Строки где штрафы больше 2,100:
Количество строк: 455

              Refund        Fines    Make  Model
CarNumber
Y163O8161RUS     2.0  3200.000000    Ford  Focus
E432XX77RUS      1.0  6500.000000  Toyota  Camry
92918M178RUS     1.0  5700.000000    Ford  Focus
H234YH197RUS     2.0  6000.000000    Ford  Focus
E40577152RUS     1.0  8594.586466    Ford  Focus

In [5]:
print("\n3.2 Строки где штрафы больше 2,100 и возврат равен 2:")
select_2 = df[(df['Fines'] > 2100) & (df['Refund'] == 2)]
print(f"Количество строк: {len(select_2)}")
print(select_2.head())

3.2 Строки где штрафы больше 2,100 и возврат равен 2:
Количество строк: 309
              Refund        Fines   Make    Model
CarNumber
Y163O8161RUS     2.0  3200.000000   Ford    Focus
H234YH197RUS     2.0  6000.000000   Ford    Focus
707987163RUS     2.0  2200.000000   Ford    Focus
K330T8197RUS     2.0  8200.000000  Skoda  Octavia
M592CH197RUS     2.0  8594.586466  Skoda  Octavia

In [6]:
print("\n3.3 Строки где модели из списка ['Focus', 'Corolla']:")
select_3 = df[df['Model'].isin(['Focus', 'Corolla'])]
print(f"Количество строк: {len(select_3)}")
print(select_3.head())

3.3 Строки где модели из списка ['Focus', 'Corolla']:
Количество строк: 593
              Refund   Fines  Make  Model
CarNumber
Y163O8161RUS     2.0  3200.0  Ford  Focus
7184TT36RUS      1.0  2100.0  Ford  Focus
X582HE161RUS     2.0  2000.0  Ford  Focus
92918M178RUS     1.0  5700.0  Ford  Focus
H234YH197RUS     2.0  6000.0  Ford  Focus

In [7]:
print("\nСтроки где номер машины из определенного списка:")
car_numbers = ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']
select_4 = df[df.index.isin(car_numbers)]
print(f"Количество строк: {len(select_4)}")
print(select_4)

Строки где номер машины из определенного списка:
Количество строк: 18
              Refund          Fines  Make  Model
CarNumber
92928M178RUS     1.0    8594.586466  Ford  Focus
H115YO163RUS     1.0    2200.000000  Ford  Focus
7788KT197RUS     2.0   12000.000000  Ford  Focus
X758HY197RUS     2.0   24200.000000  Ford  Focus
X758HY197RUS     2.0   72600.000000  Ford  Focus
Y7689C197RUS     1.0   27000.000000  Ford  Focus
92928M178RUS     1.0     600.000000  Ford  Focus
H115YO163RUS     1.0    8594.586466  Ford  Focus
H115YO163RUS     2.0    1100.000000  Ford  Focus
7788KT197RUS     2.0    8594.586466  Ford  Focus
7788KT197RUS     1.0   20000.000000  Ford  Focus
X758HY197RUS     2.0  145200.000000  Ford  Focus
92928M178RUS     1.0    1200.000000  Ford  Focus
Y7689C197RUS     2.0    9000.000000  Ford  Focus
Y7689C197RUS     2.0   45000.000000  Ford  Focus
7788KT197RUS     2.0    4000.000000  Ford  Focus
Y7689C197RUS     1.0   36000.000000  Ford  Focus
92928M178RUS     2.0    3000.000000  Ford  Focus

In [8]:
print("АГРЕГАЦИИ ПО МАРКЕ И МОДЕЛИ")

# Медиана штрафов сгруппированная по марке
print("\n4.1 Медиана штрафов сгруппированная по марке:")
agg_1 = df.groupby('Make')['Fines'].median().sort_values(ascending=False)
print(agg_1)

АГРЕГАЦИИ ПО МАРКЕ И МОДЕЛИ

4.1 Медиана штрафов сгруппированная по марке:
Make
Volvo         8500.0
Toyota        7700.0
BMW           6500.0
Volkswagen    4300.0
Audi          4200.0
Ford          3500.0
Skoda         3250.0
Name: Fines, dtype: float64

In [9]:
print("\n Медиана штрафов сгруппированная по марке и модели:")
agg_2 = df.groupby(['Make', 'Model'])['Fines'].median().sort_values(ascending=False)
print(agg_2)

 Медиана штрафов сгруппированная по марке и модели:
Make        Model
Volvo                  8500.0
Toyota      Camry      7700.0
            Corolla    7700.0
Ford        Mondeo     7650.0
Volkswagen             7400.0
BMW                    6500.0
Volkswagen  Touareg    5800.0
            Golf       4800.0
Audi                   4200.0
Ford        Focus      3500.0
Volkswagen  Passat     3500.0
Skoda       Octavia    3250.0
Volkswagen  Jetta      2800.0
Name: Fines, dtype: float64

In [10]:
print("\nКоличество штрафов сгруппированное по марке и модели:")
agg_3 = df.groupby(['Make', 'Model'])['Fines'].count().sort_values(ascending=False)
print(agg_3)

Количество штрафов сгруппированное по марке и модели:
Make        Model
Ford        Focus      575
Skoda       Octavia     48
Volkswagen  Passat      22
            Golf        20
Toyota      Corolla     18
            Camry       16
Ford        Mondeo       6
Volkswagen  Jetta        6
            Touareg      5
BMW                      3
Volkswagen               3
Volvo                    2
Audi                     1
Name: Fines, dtype: int64

In [11]:
print("\nМинимальные и максимальные штрафы сгруппированные по марке и модели:")
agg_4 = df.groupby(['Make', 'Model'])['Fines'].agg(['min', 'max']).sort_values('max', ascending=False)
print(agg_4)

Минимальные и максимальные штрафы сгруппированные по марке и модели:
                       min            max
Make       Model
Ford       Focus     100.0  180000.000000
Volkswagen Golf      200.0  168000.000000
Skoda      Octavia   300.0  145000.000000
Ford       Mondeo   1100.0   46200.000000
Volkswagen Jetta     500.0   46000.000000
Toyota     Corolla   900.0   34300.000000
Volkswagen Passat    100.0   29700.000000
Toyota     Camry     500.0   22400.000000
Volvo               6800.0   10200.000000
BMW                 3000.0    8594.586466
Volkswagen Touareg   500.0    8594.586466
                    1300.0    7900.000000
Audi                4200.0    4200.000000

In [12]:
print("\nСтандартное отклонение штрафов сгруппированное по марке и модели:")
agg_5 = df.groupby(['Make', 'Model'])['Fines'].std().sort_values(ascending=False)
print(agg_5)

Стандартное отклонение штрафов сгруппированное по марке и модели:
Make        Model
Volkswagen  Golf       36950.839950
Skoda       Octavia    24339.742174
Ford        Mondeo     18987.329108
Volkswagen  Jetta      17743.026799
Ford        Focus      15041.269437
Toyota      Corolla     9629.325617
Volkswagen  Passat      6969.739135
Toyota      Camry       6410.250654
Volkswagen              3674.688195
            Touareg     3461.778173
BMW                     2826.561226
Volvo                   2404.163056
Audi                            NaN
Name: Fines, dtype: float64

In [13]:
print("5. АГРЕГАЦИИ ПО НОМЕРУ МАШИНЫ")

print("\nНомера машин сгруппированные по количеству штрафов (по убыванию):")
agg_6 = df.groupby(df.index)['Fines'].count().sort_values(ascending=False)
print("Топ-10 нарушителей по количеству штрафов:")
print(agg_6.head(10))

5. АГРЕГАЦИИ ПО НОМЕРУ МАШИНЫ

Номера машин сгруппированные по количеству штрафов (по убыванию):
Топ-10 нарушителей по количеству штрафов:
CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
H115YO163RUS    3
X758HY197RUS    3
O718MM163RUS    3
7361C8197RUS    3
H387TM197RUS    3
O77997197RUS    3
9697MO178RUS    3
Name: Fines, dtype: int64

In [14]:
print("\nВсе строки соответствующие топ-1 номеру машины по количеству штрафов:")
top_1_by_count = agg_6.index[0]
print(f"Топ-1 нарушитель по количеству: {top_1_by_count}")
top_1_count_rows = df[df.index == top_1_by_count]
print(top_1_count_rows)

Все строки соответствующие топ-1 номеру машины по количеству штрафов:
Топ-1 нарушитель по количеству: Y7689C197RUS
              Refund    Fines  Make  Model
CarNumber
Y7689C197RUS     1.0  27000.0  Ford  Focus
Y7689C197RUS     2.0   9000.0  Ford  Focus
Y7689C197RUS     2.0  45000.0  Ford  Focus
Y7689C197RUS     1.0  36000.0  Ford  Focus

In [15]:
print("\nНомера машин сгруппированные по сумме штрафов (по убыванию):")
agg_7 = df.groupby(df.index)['Fines'].sum().sort_values(ascending=False)
print("Топ-10 нарушителей по сумме штрафов:")
print(agg_7.head(10))

Номера машин сгруппированные по сумме штрафов (по убыванию):
Топ-10 нарушителей по сумме штрафов:
CarNumber
X758HY197RUS    242000.000000
9020YC197RUS    217500.000000
M0279X197RUS    216000.000000
Y352O8197RUS    207200.000000
Y778EE197RUS    192000.000000
Y7689C197RUS    117000.000000
Y973O8197RUS    112994.586466
M0299X197RUS     96000.000000
T477KX197RUS     94000.000000
X765HY197RUS     83400.000000
Name: Fines, dtype: float64

In [16]:
print("\nВсе строки соответствующие топ-1 номеру машины по сумме штрафов:")
top_1_by_sum = agg_7.index[0]
print(f"Топ-1 нарушитель по сумме: {top_1_by_sum}")
top_1_sum_rows = df[df.index == top_1_by_sum]
print(top_1_sum_rows)

Все строки соответствующие топ-1 номеру машины по сумме штрафов:
Топ-1 нарушитель по сумме: X758HY197RUS
              Refund     Fines  Make  Model
CarNumber
X758HY197RUS     2.0   24200.0  Ford  Focus
X758HY197RUS     2.0   72600.0  Ford  Focus
X758HY197RUS     2.0  145200.0  Ford  Focus

In [17]:
print("\nНомера машин, которые были связаны с разными моделями:")
# Группируем по номеру машины и находим уникальные модели для каждого номера
car_models = df.groupby(df.index)['Model'].nunique()
# Находим номера машин с более чем одной моделью
cars_with_multiple_models = car_models[car_models > 1]

print(f"Количество номеров машин с разными моделями: {len(cars_with_multiple_models)}")
if len(cars_with_multiple_models) > 0:
    print("Номера машин с разными моделями:")
    print(cars_with_multiple_models)

    # Покажем детали для каждого такого номера
    print("\nДетали для каждого номера машины с разными моделями:")
    for car_number in cars_with_multiple_models.index:
        print(f"\nНомер машины: {car_number}")
        car_details = df[df.index == car_number][['Make', 'Model', 'Fines', 'Refund']]
        print(car_details)
        unique_models = car_details['Model'].unique()
        print(f"Уникальные модели: {unique_models}")
else:
    print("Нет номеров машин, связанных с разными моделями")

# Дополнительная таблица с полной информацией о номерах машин и моделях
print("\nПолная таблица: номер машины -> модели")
car_model_summary = df.groupby(df.index).agg({
    'Make': lambda x: ', '.join(x.unique()),
    'Model': lambda x: ', '.join(x.unique()),
    'Fines': ['count', 'sum', 'mean']
}).round(2)

# Упрощаем названия столбцов
car_model_summary.columns = ['Make', 'Model', 'Count_Fines', 'Sum_Fines', 'Mean_Fines']
print("Топ-10 записей:")
print(car_model_summary.head(10))

Номера машин, которые были связаны с разными моделями:
Количество номеров машин с разными моделями: 1
Номера машин с разными моделями:
CarNumber
E316EH197RUS    2
Name: Model, dtype: int64

Детали для каждого номера машины с разными моделями:

Номер машины: E316EH197RUS
                    Make    Model   Fines  Refund
CarNumber
E316EH197RUS  Volkswagen           1300.0     1.0
E316EH197RUS  Volkswagen  Touareg  1300.0     1.0
Уникальные модели: ['' 'Touareg']

5.6 Полная таблица: номер машины -> модели
Топ-10 записей:
                    Make   Model  Count_Fines  Sum_Fines  Mean_Fines
CarNumber
704687163RUS        Ford   Focus            1    1400.00     1400.00
704787163RUS        Ford   Focus            1    2800.00     2800.00
704987163RUS        Ford   Focus            1    8594.59     8594.59
705287163RUS        Ford   Focus            1    2000.00     2000.00
705387163RUS        Ford   Focus            1     700.00      700.00
705787163RUS        Ford   Focus            1     100.00      100.00
7064C8197RUS  Volkswagen  Passat            1   12800.00    12800.00
7065C8197RUS  Volkswagen  Passat            2   15200.00     7600.00
7066C8197RUS  Volkswagen  Passat            2   18000.00     9000.00
707987163RUS        Ford   Focus            2    3300.00     1650.00